*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(194, 93, 201), rgb(87, 221, 190))
}

.top .sign{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top .sign h1 a{
    text-decoration: none;
    font-size: 50px;
    color: navy;
}

.top .lab ul li{
    display: inline-block;
    margin: 0 5px;
}

.top .lab ul li a{
    text-decoration: none;
    font-size: 20px;
    color:navy;
}
.top .lab ul li a :hover{
    color:plum;
}

.top .mid{
    position: absolute;
    left: 35%;
    top: 50%;
    color: black;
    transform: translate(-50%, -50%);
}